.upperbody{
    height: 50%;
    width: 95.5%;

    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-image: url("F:\pepcoding\my\public\background.svg");
}
 .part1{
    width: 48%;
}
.part1 h3{
    color:gray;
}
.part1 button{
    height: 30px;
    width: 250px;
    border-radius: 20px;

    background-color: darkblue;
    color: white;
}
.part1 span{
    color: gray;

}
.part1 h2{
    color: darkblue;
    

}
.part2 span{
    color: red;
}
.part2 input{
    height: 30px;
    width: 100%;
     background-color: lightblue; 
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px 0px;
}
.part2 button{
    width: 100%;
    padding: 18px;
    border-radius: 20px;
    margin-top: 32px;
    background-color: darkblue;
    color: white;
    font-size: large;
}



.part2{
    border: 1px solid white;
    background-color: white;
    width: 35%;
    border-radius: 50px;
    
    padding:26px 61px;
} 