.navbar{
    background-color:aliceblue;
    width: 99%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    
    position: sticky;
    top: 0%;
    /* padding: 0 50px;  */
    /* padding-left: 20px; */
    padding-right: 10px; 
}
.logo img{
    height: 50px;
    width: auto;
}
.navbar-list{
    height: 10px;
    width: auto;
    display: flex;
    justify-content: space-between;
    
}
.option{
    padding:15px;
    align-items: center;
}

